* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration:none;
	color:inherit;
}

body {
    font-family: "Noto Sans KR";
    h1 {
        margin-top: 30px;
        text-align: center;
    }
}

#genre {
    padding :0 5px;
}

#profileImg {
    cursor: pointer;
}
form {
    display: block;
    width:800px;
    margin: 20px auto;
    text-align: center;
    label {
        position: relative;
        display: block;
        padding: 5px;
        margin: 10px;
        font-size: 18px;
    }
    input {
        font-size: 18px;
        padding: 0 2px;
      
    }

    .genreBox {
        margin:0 auto;
        width:590px;
        text-align: center;
        span {
            padding: 0 2px;
            margin-right: 10px;
        }
    }
}
form .btns * {
	display: inline-block;
	width: 100px;
	height: 50px;
    margin:10px auto;
	line-height:50px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	font-weight: 500;
	background-color: rgb(109, 109, 109);
	color: #fff;
    &:hover {
        cursor: pointer;
    }
}