* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration:none;
	color:inherit;
}

h1 {
    text-align: left;
    font-weight: 400;
    font-size: 24px;
}
body{
    width: 800px;
    margin: 20px auto;
    margin-top: 50px;
}

#information {
    font-size: 24px;
    font-weight: 300;
    h1 {
        text-align: left;
        font-weight: 500;
        font-size: 36px;
        
    }
}

#information h1::after {
    content: "";
    position:absolute;
    left:0px;
    width:800px;
    height:3px;
    bottom: -10px;
    background-color:#666;
    

}

.movieBox {
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 20px auto;
    text-align: center;
    .movieImgBox {


    }
    .movieInfoBox {
        font-size: 12px;
        text-align: left;
        color: #222;
        h2 {
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            margin:40px auto;
            &::after {
                content: "";
                position:relative;
                left:0px;
                width:600px;
                height:3px;
                bottom: -10px;
                background-color:#ccc;
            }
        }
        span {
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
        }

    }
}