@import "vars";
html {
    font-size:10px;
}
body {
    font-family: "Roboto","Noto Sans KR";
    font-size: 1.6rem;
}
#header {
    display: flex;
    justify-content: center; //가로 정렬
    align-items: center; //세로 정렬
    height:50px;
    overflow: hidden;
    color:#fff;
    background: $main-color;
    font-weight: 500;
    font-size: 1.8rem;
    @include longShadow(  darken($main-color,10) , right, 30 );
}

#container {

.topButton{
    cursor: pointer;
    background-color:#dace63;
    
    
}
#topButton1{
    margin-left:500px;
}
.step1{
    display: flex;
  
    margin-top:15px;
    

}
.step1 .selectionMovie .colHead{
    width: 284px;
    margin-left:150px;
    margin-right:3px;
}
.step1 .selectionMovie .colBody{
    width: 284px;
    margin-left:150px;
    margin-right:3px;
    margin-top: 0px;
}
.step1 .selectionTheater .colHead{
width: 265px;
margin-right:3px;
}
.step1 .selectionTheater .colBody{
    width: 265px;
margin-right:3px;
}
.step1 .selectionDay .colHead{
    width: 91px;
    margin-right:3px;
    }
    .step1 .selectionDay .colBody{
        width: 91px;
    margin-right:3px;
    }
 .step1 .selectionTime .colHead{
        width: 346px;
        margin-right:3px;
        }
        .step1 .selectionTime .colBody{
            width: 346px;
        margin-right:3px;
        }
.colHead{
    height:33px;
    text-align: center;
    background-color:#000 ;
    color:#fff;
    line-height: 33px;
}
.colBody{
    height:560px;
    background-color:#dace63 ;
}
.timeInput{
    width:110px;
}
.selectionTheater .colBody{
    width:50%;
    display:flex;
}
#theaterCityList .hide { display:none; }

.li{
    cursor: pointer;
}

}









