<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.mybatis.MovieMapper">
	<!-- 리스트 -->
	<select id= "getAllMovie" parameterType="hashMap" resultType="MovieBean">
		SELECT *
		FROM (
		        SELECT A.*,
		            ROWNUM AS RNUM
		        FROM (
		                SELECT  NO
		                      , TITLE
		                      , DIRECTOR
		                      , ACTOR
		                      , RELEASEDATE
		                      , ENDDATE
		                      , RUNNINGTIME
		                      , COUNTRY
		                      , INFO
		                      , POSTERIMG
		                      , GENRE
		                      , AGE
		                FROM MOVIE
		                ORDER BY NO DESC
		            ) A 
		        WHERE ROWNUM <![CDATA[<=]]> #{end}
		    )
		WHERE RNUM <![CDATA[>=]]> #{start}
	</select>
	
	<!-- 영화등록 -->
	<insert id = "insertMovie" parameterType="MovieBean">
		INSERT INTO MOVIE(
			  NO
            , TITLE
            , DIRECTOR
            , ACTOR
            , RELEASEDATE
            , ENDDATE
            , RUNNINGTIME
            , COUNTRY
            , INFO
            , POSTERIMG
            , GENRE
            , AGE
		)
		VALUES (
			  MOVIE_SEQ.NEXTVAL
			, #{title}
			, #{director}
			, #{actor}
			, #{releaseDate}
			, #{endDate}
			, #{runningTime}
			, #{country}
			, #{info}
			, #{posterImg}
			, #{genre}
			, #{age}
		)
	</insert>
	<select id = "getSelectOneMovie" parameterType="Integer" resultType="MovieBean">
		SELECT  NO
              , TITLE
              , DIRECTOR
              , ACTOR
              , RELEASEDATE
              , ENDDATE
              , RUNNINGTIME
              , COUNTRY
              , INFO
              , POSTERIMG
              , GENRE
              , AGE
		FROM MOVIE
		WHERE NO = #{no}
	</select>
	<select id= "showAllMovie" parameterType="hashMap" resultType="MovieBean">
		SELECT *
		        FROM (
		                SELECT  NO
		                      , TITLE
		                      , AGE
		                      , POSTERIMG
		                FROM MOVIE
		                ORDER BY NO DESC
		            ) 
	</select>
	<delete id="deleteMovie" parameterType="Integer">
		DELETE FROM MOVIE WHERE NO = #{no}
	</delete>
	
	<update id="modifyMovie" parameterType="MovieBean">
		UPDATE MOVIE SET
			  TITLE = #{title}
            , DIRECTOR = #{director}
            , ACTOR = #{actor}
            , RELEASEDATE = #{releaseDate}
            , ENDDATE = #{endDate}
            , RUNNINGTIME = #{runningTime}
            , COUNTRY = #{country}
            , INFO = #{info}
            , POSTERIMG = #{posterImg}
            , GENRE = #{genre}
            , AGE = #{age}
		WHERE NO = #{no}
	</update>

	<!-- 전체 영화리스트 수 -->
	<select id="getTotalMovie" resultType="Integer">
		SELECT COUNT(*) AS TOTAL FROM MOVIE
	</select>
</mapper>
